:root {
    --main-color: #ff6f20;
    --black-222: #212529;
    --black-555: #868e96;
    --black-888: #888;
    --gray-500: #ccc;
    --gray-800: #eee;
    --white: #fff;
    --swiper-pagination-color: var(--main-color);

    --shadow-color: 0deg 0% 63%;
    --shadow-elevation-medium:
        0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
        0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
        2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
        5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
}