header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

header .logo {
    font-size: 2rem;
}

header .logo span {
    font-size: 2rem;
    color: var(--main-color);
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style-type: none;
    list-style-position: outside;
}

nav ul li {
    margin-right: 2rem;
}

.active {
    font-weight: 600;
    color: var(--main-color);
}

section.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 95vh;
}

.hero-content {
    width: 50%;
}

.hero-content p {
    margin-top: 2rem;
    color: var(--black-555);
}

.hero-content button {
    margin-top: 2rem;
}

.hero-content span { 
    font-size: 2.5rem;
}

.hero-content h1 span {
    color: var(--main-color);
}

.clients {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--gray-800);
    padding: 0 1rem;
    border-radius: 4px;
}

.clients img {
    width: 9%;
}

.service-title {
    margin-top: 5rem;
}

.service-title p {
    width: 900px;
    margin-top: 1rem;
    color: var(--black-555);
}

.services {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    min-height: 100vh;
}

.swiper {
    width: 100%;
    height: 300px;
    margin-top: 10rem;
}  
.swiper-card {
    width: 300px;
    background-color: var(--gray-800);
    padding: 2rem 1rem;
    text-align: left;
    border-radius: 8px;
}

.swiper-card img {
    width: 50px;
    margin-bottom: 2rem;
}

.swiper-card span {
    font-weight: bold;
}

.swiper-card p {
    margin-top: 1rem;
    color: var(--black-555);
}

.swiper-pagination {
    margin-top: 5rem !important;
}

@media (max-width: 1440px) {
    .hero-content span {
        font-size: 2rem;
    }

    section.hero img {
        width: 600px;
    }
}