header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

header .logo {
    font-size: 2rem;
}

header .logo span {
    font-size: 2rem;
    color: var(--main-color);
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style-type: none;
    list-style-position: outside;
}

nav ul li {
    margin-right: 2rem;
}

.active {
    font-weight: 600;
    color: var(--main-color);
}

section.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 90vh;
}

.hero-content {
    width: 50%;
}

.hero-content p {
    margin-top: 2rem;
    color: var(--black-888);
}

.hero-content button {
    margin-top: 2rem;
}

.hero-content span { 
    font-size: 2.5rem;
}

.hero-content h1 span {
    color: var(--main-color);
}

.clients {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--gray-800);
    padding: 0 1rem;
    border-radius: 4px;
}

.clients img {
    width: 9%;
}

@media (max-width: 1440px) {
    .hero-content span {
        font-size: 2rem;
    }

    section.hero img {
        width: 600px;
    }
}